$primary-color: blue;
$white: #fff;
$buttonColor: #3451FF;
$lato: 'Lato', sans-serif;
$CircularStdBook: 'Circular Std Book', 'Lato', sans-serif;
$sourceSansPro: 'Source Sans Pro', 'Lato', sans-serif;
$break-small: 320px;
$break-large: 1200px;
$medium-screen: 780px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.mhauto {
    margin: 0px 64px;
    @media screen and (max-width: $medium-screen) {
        margin: 0px 24px;
    }
}

.hide {
    display: none !important;
    // transform: translateX(100%);
    // transition: all 0.3s ease-in-out;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-img {
    width: 100%;
    height: auto;
}

body{   
    font-family: $lato;
}

.flex-1 {
    flex: 1;
}

.logo {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    img {
        width: 46%;
        height: 26px;
    }
    @media screen and (max-width: 1030px) {
        display: block;
    }
}

.header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../assets/headerBG.png);
    background-position: center;
    // background-repeat: no-repeat;
    height: 35vh;
    background-size: cover;
    @media screen and (max-width: 480px) {
        height: 32vh;
    }
    // background-position-y: -325px;   
    .nav-bar {
        @media screen and (max-width: 1030px ) {
            display: none;
        }   
        margin-right: 10px;
        font-family: $CircularStdBook;
        // border: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        height: 60px;
        img {
            height: 60px;
            transform: scale(.58);
            cursor: pointer;
        }
        ul {
            display: flex;
            li {
                list-style-type: none;
                margin: 2px 32px 0px;
                color: $white;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom: 2px solid #fff;
                    transition: all .95s ease;
                }
            }
        }
        a {
            // font-family: $lato;
            padding: 12px 18px;
            // border: 1px solid;
            text-decoration: none;
            cursor: pointer;
            color: $white;
            border-radius: 3px;
            &:active, &:hover {
                background-color: $buttonColor;
                color: #fff;
                transition: all ease 0.65s;
            }
            &:first-child{
                margin-right: 16px;
            }
        }
    }

    .header-title {
        color: #fff;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column; 
        height: calc(100% - 60px);
        h4 {
            @media screen and (max-width: 540px) {
                font-size: 24px;
                margin-top: 64px;
            }
            @media screen and (max-width: 1030px) and (min-width: 541px)  {
                font-size: 30px;
                margin-top: 48px;
            } 
            font-size: 36px;
            font-family: $lato;
            margin-top: 32px;
        }
        .sub-header {
            @media screen and (max-width: 1030px ) {
                font-size: 28px;
                margin-top: 24px;
            } 
            @media screen and (max-width: 540px) {
                font-size: 24px;
                margin-top: 24px;
            }
            margin-top: 36px;
            font-size: 24px;
            margin-bottom: 22px;        
        }
    }


}

.tab-section {
    margin-top: 50px;
    .tabs {
        @extend .flex-center;
        &>.tab {
            @media screen and (max-width: 540px) {
                height: 40px;
                padding: 0px 32px;
                text-align: center;
                line-height: 40px;
                font-size: 80%;
            }
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            text-transform: uppercase;
            border: 1.5px solid #BAC3FF;                
            padding: 0px 48px;
            height: 65px;
            line-height: 65px;
            border-radius: 50px;
            font-family: $CircularStdBook;
            font-size: 16px;
            cursor: pointer;
            user-select: none;        
            &:focus {
                outline: none;
                background-color: transparent;
            }
            &:hover {
                // font-size: 14px;
                // color: #DCE1FF;
                transform: translate3d( 0, 0, 0);
                // transition: all ease 1s;
            }
            &:first-child {               
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-right: 0px;
            }
            &:nth-child(2) {
                border-left: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            &.active {
                background-color: #DCE1FF;
            }
        }
    }
    .tab-bottom {
        margin: 30px 0;
        @extend .flex-center;            
        &__actions {
            @media screen and (max-width: 540px) {
                margin-left: auto;
                margin-right: auto;
                transform: scale(0.8);
            }
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-select: none;
            margin: 0px 40px;
            @extend .flex-center;   
            cursor: pointer; 
            &:hover {
                // transform: translateY(-5%);
                // transform: scale(1.05);
                // transition: all 0.75s ease;

            }      
        };
        &__actions-icon {
            width: 18px;
            margin-right: 8px;
            img{
                @extend .responsive-img
            }        
        };
        &__actions-text {
            font-family: $CircularStdBook;
            font-size: 14px;
            color: #2F3643
        };
    }
}


.package-info {
    @media screen and (max-width: 980px) {
        flex-direction: column;
        margin: 8px 16px;
    }
    display: flex;
    padding: 8px;
    margin: 8px 64px;
    border: 1px solid #C7D3DB;
    border-radius: 9px;
    margin-bottom: 180px;
    // @extend .mhauto;
    &__images {
        flex: 33%;
    }
    &__content {
        flex: 66%;
        display: flex;
        flex-direction: column;
        padding-left: 64px;
        @media screen and (max-width: 980px) {
            padding-left: 0px;
        }
    }
    &__content-header {
        @media screen and (max-width: 430px) {
            flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px;
        h4 {
            @media screen and (max-width: 430px) {
                margin-bottom: 8px;
            }
            font-family: $lato;
            font-weight: bold;
            font-size: 20px;
        }
        span {
            color: #718492;
            font-size: 16px;
        }
    }
    &__description {
        font-family: $sourceSansPro;
        // font-size: 16px;
        text-align: left;
        color: #718492;
        padding-right: 16px;
    }
    &__price-info {
        @media screen and (max-width: $medium-screen) {
            flex-wrap: wrap;

        }
        display: flex;
        margin: 32px 0px;
        // border:1px solid;
        align-items: center;
        span {
            @media screen and (min-width: 401px) and (max-width: $medium-screen){
                flex: 60%;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 400px) {
                padding-bottom: 10px;                
            }
            color: #718492;
            font-size: 16px;
            padding-right: 8px;
            font-family: $sourceSansPro;
        }
        select {
            @media screen and (max-width: 400px) {
                margin-left: auto;    
                margin-bottom: 10px;
            }
            @media screen and (min-width: 401px) and (max-width: $medium-screen){
                flex: 30%;
                margin-right: 16px;
                margin-left: auto;
                margin-bottom: 10px;
            }
            // -webkit-appearance: none;
            // -moz-appearance: none;
            background-color: #fff;
            text-indent: 1px;
            text-overflow: '';
            padding: 8px 16px;
            border-color: #718492;
            border-width: 1.3px;
            border-radius: 4px;
            font-family: $CircularStdBook;
            font-size: 13px;
            color: #151D33;
            option {
                padding: 8px 0;
            }
        }
        .actual_price {
            @media screen and (min-width: 401px) and (max-width: $medium-screen) {
                flex: 50%;
                margin-left: -16px;   
                margin-bottom: 10px;   
            }
            @media screen and (max-width: 400px) {                
                flex: 40%;
                font-size: 32px;
                padding-left: 0px;
            }
            color: $buttonColor;
            font-size: 40px;
            padding: 0px 16px;
        }
        .price {
            @media screen and (max-width: $medium-screen) {
                flex: 40%;
                margin-bottom: 10px;   
            }
            @media screen and (max-width: 400px) {                
                margin: 0px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 18px;
            &>div {
                @media screen and (max-width: $medium-screen) {
                    align-self: flex-end
                }
                display: flex;                
                justify-content: space-between;
                align-items: center;   
                margin-bottom: 6px;             
                .price-strick{
                    margin-right: 12px;
                    text-decoration: line-through;
                    font-size: 17px;
                    color: #2F3643;
                }
                .price-discount {
                    border-radius: 50px;
                    background-color: #000;
                    font-size: 11px;
                    color: #fff;
                    padding: 3px 8px;
                    font-family: $CircularStdBook;
                    white-space: nowrap;
                    @extend .flex-center;
                }
            }
            &>p {
                @media screen and (max-width: $medium-screen) {
                    align-self: flex-end
                }
                font-family: $CircularStdBook;
                color: #718492;
                font-size: 14px;
                align-self: flex-start;                
            }
        }
        .package-action {
            @media screen and (max-width: $medium-screen) {
                margin: auto;
                padding: 8px 24px;
            }
            @media screen and (max-width: 400px) {                
                margin-top: 10px;
            }
            padding: 8px 16px;
            background-color: $buttonColor;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            margin-left: auto;
            margin-right: 4px;
            cursor: pointer;
            user-select: none;
        }
    }

    .amenities {
        @media screen and (max-width: 540px) {
            flex-wrap: wrap;
        }
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        p {
            @media screen and (max-width: 540px) {
                flex: 100%;
                margin-bottom: 10px;
            }
            color: #151D33;
            font-size: 16px;
            font-family: $sourceSansPro;
        }
        &__info {
            &:first-child {
                @media screen and (max-width: 540px) {
                    margin-left: 0px;
                }
            }
            @media screen and (max-width: 540px) {
                transform: scale(0.8);
                margin: auto;
            }
            @extend .flex-center;
            margin: 0px 16px;
            img {
                margin-right: 8px;
                width: 14px;
                transform: scale(1.5);
            }
            span {
                color: #707070;
                font-size: 14px;
            }
            span.line-through {
                text-decoration: line-through;
            };
        }
    }


}


.inclusions {
    @media screen and (max-width: 780px) {
        flex-direction: column;
    }
    @extend .mhauto;
    margin-bottom: 20px;
    display: flex;
    &>div{
        flex:1
    }
    h4 {
        margin-bottom: 18px;
    }
    ul {
        li {
            @extend .flex-center;
            justify-content: flex-start;
            margin-bottom: 12px;
            .arrow {                
                width: 0; 
                height: 0; 
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;                
                border-left: 6px solid #3451FF;
                display: block;
                margin-right: 10px;
            }
            p{
                font-family: $sourceSansPro;
                color: #718492;
                font-size: 16px;
            }
        }
    }
    .inclusions-more {
        @media screen and (max-width: 780px) {
            align-self: center;
            margin-left: 0px;
            text-align: center;     
        }
        align-self: flex-end;
        margin-bottom: 20px;
        flex: 1;
        margin-left: 20px;
        h2 {
            @media screen and (max-width: 420px) {
                font-size: 22px;
            }
            color: #151D33;
            font-family: $lato;
            font-size: 28px;
            margin-bottom: 12px;
        }
        p{
            @media screen and (max-width: 780px) {
                align-self: center;
                margin-left: 0px;
            }
            font-family: $sourceSansPro;
            font-size: 16px;
            color: #3451FF;
            margin-bottom: 6px;
            cursor: pointer;
            user-select: none;
        }
    }
}


.footer {
    .top {
        display: flex;
        flex-wrap: wrap;
        padding: 32px 64px;
        background-color: #1F1F27;
        .footer__links {
           @media screen and (max-width: 480px) {
                flex: 50%;
                text-align: center;
                margin-bottom: 20px;
            }
            @media screen and (min-width: 481px) and (max-width: $medium-screen) {
                flex: 50%;
                margin-bottom: 20px;
                text-align: center;
            }
            &.flex-1 {
                @media screen and (max-width: 480px) {
                    flex: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }
                @media screen and (min-width: 481px) and (max-width: $medium-screen) {
                    flex: 100%;
                    margin-bottom: 20px;
                    text-align: center;
                }
            }
            &.md-center {
                @media screen and (min-width: 450px) and (max-width: 1105px) {
                    align-self: center;
                    text-align: center;
                }
            }
            flex: 25%;
            display: flex;
            flex-direction: column;            
            font-family: $CircularStdBook;
            p{
                font-size: 12px;
                color: #718492;
                text-transform: uppercase;
                margin-bottom: 16px;
            }
            ul>li {
                font-size: 14px;
                color: $white;
                margin-bottom: 12px;
                list-style-type: none;
                cursor: pointer;
                user-select: none;
            }
            .subscribe-wrapper {
                @media screen and (max-width: 480px) {
                    margin: auto;
                }
                @media screen and (min-width: 430px) and (max-width: 1105px) {
                  align-self: center;
                }
                display: flex;
                flex-direction: column;
                max-width: 300px;
            }
            .subscribe-btn {
                background: #3DA9F6;
                color: $white;
                border: none;
                padding: 8px 16px;
                border-radius: 4px;
                text-transform: uppercase;
                margin-bottom: 12px;
            }
            .subscribe-input{
                ::placeholder {
                    color: #718492;
                }
                background-color: #2D313A;
                border-radius: 4px;
                padding: 8px 16px;
                margin-bottom: 8px;
                border: none;
                color: #fff;
            }
            .social-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: auto;
                &>span {
                    @media screen and (max-width: 480px) {
                        margin: auto;
                    }
                    // @media screen and (min-width: 481px) and (max-width: $medium-screen) {
                    //     flex: 100%;
                    //     margin-bottom: 20px;
                    //     text-align: center;
                    // }
                    margin: 8px 16px;
                    cursor: pointer;
                }
                
            }
        }

    }
    .bottom {
        @media screen and (max-width: 480px) {
           flex-direction: column;
           flex: 100%;          
           text-align: center;
        }
        @media screen and (min-width: 481px) and (max-width: $medium-screen) {
            flex: 100%;
            flex-direction: column;           
            text-align: center;
        }
        padding: 18px 64px;
        background-color: #1A1A1F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #718492;
        img {            
            height: 26px;            
        }
        p, div {
            color: #718492;
            font-size: 12px;
            font-family: $CircularStdBook;
            white-space: nowrap;
        }
    }
}


// .tabs-content {
//     display: flex;
//     width: 100vw;
//     overflow-x: scroll;
//     flex-wrap: wrap;
//     border: 1px solid;
//     section {
//         width: 100vw;
//         flex:1
//     }
// }